<footer class="bg-dark footer">
  <div class="container">
    <p class="footer_text">© SCMT</p>
  </div>
</footer>

<style>
  .footer_text {
    color: white !important;
    text-align: right;
    text-decoration: none !important;
  }
  .footer {
    border-width: 2px;
    padding-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    margin-top: 20px;
    margin-bottom: 0px !important;
    text-align: right !important;
  }
</style>
